<!-- Футер-->
<div class="footer-area">
    <div class="footer-container">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <!-- Start single blog -->
                    <div class="col-md-6 col-lg-4 mb-md-30px mb-lm-30px" data-aos="fade-up" data-aos-delay="200">
                        <div class="single-wedge">
                            <h4 class="footer-herading">о нас</h4>
                            <p class="about-text">Craftoria — платформа для мастеров и творцов, где рождаются уникальные
                                handmade-произведения. Место, где творчество становится магией.
                            </p>
                            <ul class="link-follow">
                                <li class="li">
                                    <a class="paypal icon-paypal m-0" title="Paypal" href="#"></a>
                                </li>
                                <li class="li">
                                    <a class="tumblr icon-social-tumblr" title="Tumblr" href="#"></a>
                                </li>
                                <li class="li">
                                    <a class="twitter icon-social-twitter" title="Twitter" href="#"></a>
                                </li>
                                <li class="li">
                                    <a class="pinterest icon-social-pinterest" title="Pinterest" href="#"></a>
                                </li>
                                <li class="li">
                                    <a class="linkedin icon-social-linkedin" title="Linkedin" href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <!-- Start single blog -->
                    <div class="col-md-6 col-sm-6 col-lg-3 mb-md-30px mb-lm-30px" data-aos="fade-up"
                         data-aos-delay="400">
                        <div class="single-wedge">
                            <h4 class="footer-herading">информация</h4>
                            <div class="footer-links">
                                <div class="footer-row">
                                    <ul class="align-items-center">
                                        <li class="li"><a class="single-link" href="about.html">О нас</a></li>
                                        <li class="li"><a class="single-link" href="privacy-policy.html">
                                            Конфиденциальность & Политика</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <!-- Start single blog -->
                    <div class="col-md-6 col-lg-2 col-sm-6 mb-lm-30px" data-aos="fade-up" data-aos-delay="600">
                        <div class="single-wedge">
                            <h4 class="footer-herading">мой аккаунт</h4>
                            <div class="footer-links">
                                <div class="footer-row">
                                    <ul class="align-items-center">
                                        <li class="li"><a class="single-link" href="my-account.html">Мой аккаунт</a>
                                        </li>
                                        <li class="li"><a class="single-link" href="login.html">Логин</a></li>
                                        <li class="li"><a class="single-link" href="wishlist.html">Корзина</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End single blog -->
                    <!-- Start single blog -->

                    <!-- End single blog -->
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row flex-sm-row-reverse">
                    <div class="col-md-6 text-right">
                        <div class="payment-link">
                            <img src="{{ url_for('static', filename='assets/images/icons/payment.png') }}" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 text-left">
                        <p class="copy-text">Авторские права © 2025. Все права защищены</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Конец Футера -->