<div class="bg-black d-none d-lg-block sticky-nav">
        <div class="container position-relative">
            <div class="row">
                <div class="col-md-12 align-self-center">
                    <div class="main-menu">
                        <ul>

                            <li><a href="about.html">О нас</a></li>
                            <li class="dropdown position-static"><a href="/shop-right-sidebar.html">Магазин</a>

                            <li><a href="contact.html">Связаться с нами</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>